<h2><%= t('devise.registrations.edit_resource', resource: resource_name.to_s.humanize) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('devise.registrations.waiting_on_confirmation', email: resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i><%= t('devise.registrations.leave_blank_if_dont_want_to_change') %></i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= t('devise.passwords.minimum_length', length: @minimum_password_length) %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i><%= t('devise.registrations.current_password_needed') %></i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('update') %>
  </div>
<% end %>

<h3><%= t('devise.registrations.cancel_my_account') %></h3>

<p><%= button_to ('devise.registrations.cancel_my_account'), registration_path(resource_name), data: { confirm: t('confirm_deletion') }, method: :delete %></p>

<%= link_to t('back'), :back %>
