<%= form_for([@user, set_list]) do |form| %>
  <% if set_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(set_list.errors.count, "error") %> prohibited this set_list from being saved:</h2>

      <ul>
        <% set_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-center">
    <strong><%= t(:set_list_title) %></strong><br/>
    <%= form.text_field :title, style: 'font-size: 20px; text-decoration: none;' %>
  </div>

  <p class="text-center">
    <%= t(:set_list_explanation).html_safe %>
  </p>

  <div class="set_list_songs text-center">
    <% if !set_list.set_list_songs.empty? %>
      <div data-controller="drag" data-drag-url="set_list_songs/:id/move">
        <% set_list.set_list_songs.each do |sls| %>
          <% song = Song.find(sls.song_id) %>
          <div data-id="<%= sls.id %>" class="card card-body mb-4">
            <%= link_to edit_user_set_list_set_list_song_path(@user, set_list, sls) do %>
              <%= song.title + '(' + sls.key + ')' %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="set_list_links text-center">
    <%= form.submit class: 'btn btn-primary', value: t(:save) %>
    <%# TODO: only show this if the set list actually exists %>
    <%# difference between new and show actions %>
    <%#= link_to t(:show), user_set_list_path(@user, @set_list), class: 'btn btn-secondary' %>
  </div>
<% end %>
