<% if current_user.set_lists.empty? %>
    <p>You have no set lists</p>
<% else %>
    <!-- Put error logic here -->
    <p>「<%= @song.title %>」を好きなセットリストに追加してください。</p>
    <p>一旦セットリストに保存しておくと、編集のページで歌のキーも選んで保存することできます。</p>

    <% @set_lists.each do |sl| %>
      <% @set_list_song = sl.set_list_songs.build %>
      <%= form_for([current_user, sl, @set_list_song]) do |f| %>
        <%= hidden_field_tag :set_list_id, sl.id %>
        <%= hidden_field_tag :song_id, @song.id %>
        <%= hidden_field_tag :key, @song.key %>
        <%= hidden_field_tag :order, (sl.set_list_songs.size) %>
        <%= button_tag sl.title, type: 'submit' %>
      <% end %>
    <% end %>
<% end %>
