<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @set_list.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @set_list.user_id %>
</p>

<%= link_to 'Edit', edit_user_set_list_path(@user, @set_list) %> |
<%= link_to 'Back', user_set_lists_path %>
