<div id="user_container" class="container">
  <div id="user_row" class="row">
    <div id="user_info" class="col-xs-12 col-md-4">
      <div class="col-xs-2 hidden-md"></div>

      <div class="panel panel-default col-xs-8 col-md-12">
        <div class="panel-body text-center">
          <%= button_tag class: 'btn btn-link', data: {toggle: "modal", target: '#img_modal'} do %>
            <% if @user.user_image %>
              <%= image_tag(image_url(@user.user_image), id: 'user_image', alt: 'user image') %>
            <% else %>
              <%= image_tag(image_url('user_black_logo.jpg'), id: 'user_image', width: '200', height: '200') %>
            <% end %>
          <% end %>

          <div class="modal fade" id="img_modal" tabindex="-1" role="dialog" aria-labelledby="img_modal_label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                  <% if @user.user_image %>
                    <%= image_tag(image_url(@user.user_image), id: 'modal_user_image') %>
                  <% else %>
                    <%= image_tag(image_url('user_black_logo.jpg'), id: 'modal_user_image', width: '400', height: '400') %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <h2><%= @user.username %></h2>
          <hr>
          <%= link_to t(:edit_profile), edit_user_path(@user) if current_user == @user %><br/>
          <% if current_user == @user %>
            <%= link_to t(:delete_account), user_path, method: :delete, data: { confirm: t(:confirm_deletion) } %>
          <% end %>
        </div>
      </div>

      <div class="col-xs-2 hidden-md"></div>
    </div>

    <div id="user_charts" class="col-xs-12 col-md-8">
      <div class="col-xs-2 hidden-md"></div>

      <div class="col-xs-8 col-md-12">
        <div class="charts_header text-center">
          <h3><%= @user.username + t(:user_charts) %></h3>

          <% if current_user == @user %>
            <%= link_to '<span class="glyphicon glyphicon-pencil"></span> '.html_safe + t(:new_chart),
              new_user_song_path(@user),
              class: 'btn btn-primary btn-sm',
              id: 'new_chart_button'
            %><br/>
          <% end %>
        </div>

        <%# TODO: Paginate %>
        <% if !@songs.empty? %>
          <div>
            <span style="margin-left: 5px"><%= t('activerecord.attributes.song.title') %></span>
            <span class="pull-right" style="margin-right: 5px;"><%= t('activerecord.attributes.song.artist') %></span>
          </div>

          <ul class="list-group">
            <% @songs.each do |song| %>
              <%= link_to (
                '<span>' + song.title + '</span>' +
                '<span class="chart_artist_name pull-right">' + truncate(song.artist) + '</span>'
                ).html_safe,
                user_song_path(@user, song), class: 'list-group-item' %>
             <% end %>
          </ul>
        <% else %>
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <h4><%= t(:no_charts) %></h4>
            </div>
          </div>
        <% end %>
      </div>

      <div class="song_pagination text-center">
        <%= paginate @songs %>
      </div>
    </div>
  </div>
</div>
