<header id="sanbikaHeader" class="masthead">
  <div class="container">
    <div class="jumbotron" style="text-align: center; color: black; background-color: rgba(220, 220, 220, 0.9); margin-top: 100px;">
      <h1>sanbika.jpへようこそ</h1><br/>
      <p>(詩篇の最後の節)</p><br/>
      <%= link_to '賛美歌チャートの一覧', home_songs_path, class: 'btn btn-primary'%>　｜　
      <%= link_to 'ユーザの一覧', users_path, class: 'btn btn-primary' %>
    </div>
  </div>
</header>

<span class="fab fa-twitter"></span>

<div id="features_header">
  <div class="row">
    <div class="feature col-xl-12 col-lg-4">
      <div class="feature_text_wrapper">
        <span class="feature_text">変調は簡単</span>
      </div>
      <div class="feature_wrapper">
        <span class="glyphicon glyphicon-music"></span>
      </div>
    </div>
    <div class="feature col-xl-12 col-lg-4">
      <div class="feature_text_wrapper">
        <span class="feature_text">書き方も簡単</span>
      </div>
      <div class="feature_wrapper">
        <span class="glyphicon glyphicon-pencil"></span>
      </div>
    </div>
    <div class="feature col-xl-12 col-lg-4">
      <div class="feature_text_wrapper">
        <span class="feature_text">動画も投稿可能</span>
      </div>
      <div class="feature_wrapper">
        <span class="glyphicon glyphicon-film"></span>
      </div>
    </div>
  </div>
</div>

<% example_user = User.find_by(name: "gazayas") %>
<% example_song = example_user.songs.where(title: "主の足元に").first %>
<div id="example_chart" class="container-fluid">
  <div class="example_banner_text_wrapper text-center">
    <h1 id="example_banner_text">変調を試してみてください</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <h1><%= example_song[:title] %></h1>
      <% keys = ["A", "A♯", "B", "C", "C♯", "D", "D♯", "E", "F", "F♯", "G", "G♯"] %>
      <select id="key_box" onchange="key_change(<%= example_song[:key] %>, null);">
        <% keys.each do |key| %>
          <option value="<%= key %>"><%= key %></option>
        <% end %>
      </select>
    </div>
    <div class="panel panel-body">
      <!-- TODO: songs/show.html.erbと同じスタイル -->
      <%= example_song[:song_body] %>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer>

<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script>
  window.sr = ScrollReveal();
  sr.reveal('.feature');
</script>
