<header id="sanbikaHeader" class="masthead">
  <div class="container">
    <div class="jumbotron" style="text-align: center; color: black; background-color: rgba(220, 220, 220, 0.9); margin-top: 100px;">
      <h1>sanbikaへようこそ</h1><br/>
      <p>
        息のあるすべてのものに主をほめたたえさせよ。主をほめたたえよ。
        <i class="text-muted">詩篇150:6</i>
      </p><br/>
      <%= link_to 'チャートの一覧', home_songs_path, class: 'btn btn-primary'%>　|　
      <%= link_to 'ユーザの一覧', users_path, class: 'btn btn-primary' %>
    </div>
  </div>
</header>

<div id="features_header">
  <div class="row">
    <div class="feature col-xl-12 col-lg-4">
      <div class="feature_text_wrapper">
        <span class="feature_text">変調は簡単</span>
      </div>
      <div class="feature_wrapper">
        <span class="glyphicon glyphicon-music"></span>
      </div>
    </div>
    <div class="feature col-xl-12 col-lg-4">
      <div class="feature_text_wrapper">
        <span class="feature_text">書き方も簡単</span>
      </div>
      <div class="feature_wrapper">
        <span class="glyphicon glyphicon-pencil"></span>
      </div>
    </div>
    <div class="feature col-xl-12 col-lg-4">
      <div class="feature_text_wrapper">
        <span class="feature_text">動画も投稿可能</span>
      </div>
      <div class="feature_wrapper">
        <span class="glyphicon glyphicon-film"></span>
      </div>
    </div>
  </div>
</div>

<% example_user = User.find_by(name: "gazayas") %>
<% example_song = example_user.songs.where(title: "主の足元に").first %>
<div id="example_chart" class="container-fluid">
  <div class="example_banner_text_wrapper text-center">
    <h1 id="example_banner_text">変調を試してみてください</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <h1 id="song_title"><%= example_song[:title] %></h1>
      <%= select_tag(
            :key_box,
            options_for_select(sharp_notes, selected: example_song[:key]),
            onchange: 'key_change("' +  example_song[:key] + '", null);')
      %>
    </div>
    <div id="song_body" class="panel panel-body">
      <%= simple_format(example_song[:song_body]) %>
    </div>
  </div>
</div>

<% footer_links = Hash.new %>
<% footer_links = { %>
  <% facebook: "#", %>
  <% twitter: "https://www.twitter.com/sanbika_jp", %>
  <% github: "https://www.github.com/gazayas/sanbika" %>
<% } %>
<footer id="main_footer" class="footer" style="background-color: #222;">
  <div class="container">
    <div id="fontawesome_wrapper">
      <% footer_links.each do |key, value| %>
        <%= link_to value, class: "footer_link", target: "_blank" do %>
          <i class="fab fa-<%= key.to_s %> fa-2x"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</footer>

<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script>
  window.sr = ScrollReveal();
  sr.reveal('.feature_wrapper');
</script>
