<header id="sanbikaHeader" class="masthead">
  <div class="container">
    <div class="jumbotron home_jumbotron" style="color: black;">
      <h1><%= t(:welcome) %></h1><br/>
      <p>
        <%= t(:psalm150_6) %>
        <i class="text-muted"><%= t(:psalm150_6_ref) %></i>
      </p>
      <br/>
      <%= link_to t(:list_of_charts), home_songs_path, class: 'btn btn-primary'%>
      <%= link_to t(:list_of_users), users_path, class: 'btn btn-primary' %>
    </div>
  </div>
</header>

<div class="container">
    <div id="homepage_login_links">
        <div class="row">

            <div class="col-xs-0 col-md-3"></div>

            <div class="jumbotron_inner col-xs-12 col-md-6">
              <%= render 'devise/shared/links_short_version' %>
            </div>

            <div class="col-xs-0 col-md-3"></div>
        </div>
    </div>
</div>

<div id="features_header">
  <div class="row">
    <div class="feature col-xl-12 col-lg-4">
      <div class="feature_text_wrapper">
        <span class="feature_text"><%= t(:simple_keychange) %></span>
      </div>
      <div class="feature_wrapper">
        <span class="glyphicon glyphicon-music"></span>
      </div>
    </div>
    <div class="feature col-xl-12 col-lg-4">
      <div class="feature_text_wrapper">
        <span class="feature_text"><%= t(:simple_creation) %></span>
      </div>
      <div class="feature_wrapper">
        <span class="glyphicon glyphicon-pencil"></span>
      </div>
    </div>
    <div class="feature col-xl-12 col-lg-4">
      <div class="feature_text_wrapper">
        <span class="feature_text"><%= t(:post_videos) %></span>
      </div>
      <div class="feature_wrapper">
        <span class="glyphicon glyphicon-film"></span>
      </div>
    </div>
  </div>
</div>

<div id="example_chart" class="container-fluid">
  <div class="example_banner_text_wrapper text-center">
    <h1 id="example_banner_text"><%= t(:try_it_out) %></h1>
  </div>
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <h1 id="song_title"><%= t(:example_chart_title) %></h1>
      <%= select_tag(
            :key_box,
            options_for_select(sharp_notes, selected: t(:example_chart_key)),
            onchange: 'key_change("' +  t(:example_chart_key) + '", null);')
      %>
    </div>
    <div id="song_body" class="panel panel-body"><%= t(:example_chart) %></div>
  </div>
</div>

<% footer_links = Hash.new %>
<% footer_links = { %>
  <%# TODO: facebook: "#", %>
  <% twitter: "https://www.twitter.com/sanbika_jp", %>
  <% github: "https://www.github.com/gazayas/sanbika" %>
<% } %>
<footer id="main_footer" class="footer" style="background-color: #222;">
  <div class="container">
    <div id="fontawesome_wrapper">
      <% footer_links.each do |key, value| %>
        <%= link_to value, class: "footer_link", target: "_blank" do %>
          <i class="fab fa-<%= key.to_s %> fa-2x"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</footer>

<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script>
  window.sr = ScrollReveal();
  sr.reveal('.feature_wrapper');
</script>
