<div class="row text-center">
	<div class="panel panel-default">
		<div class="panel panel-body">
			<div class="col-xs-12 col-md-6 text-left">
				<div class="col-xs-2 hidden-md"></div>

				<%= form_tag '/search', method: :post, class: 'col-xs-8' do |f| %>
					<p>
						<%= t(:search_for_a_chart) %>
						<% 4.times do %>
							&nbsp;
						<% end %>
						<%= select_tag :search_filter, options_for_select([t(:artist), t(:title), t(:lyrics)]) %>
					</p>
					<%= text_field_tag :search_contents %>

					<%= submit_tag t(:search), class: 'btn btn-primary' %>
				<% end %>

				<div class="col-xs-2 hidden-md"></div>
			</div>

			<div class="col-xs-12 col-md-6 text-left">
				<div class="col-xs-2 hidden-md"></div>

				<%= form_tag '/search', method: :post, class: 'col-xs-8' do |f| %>
					<p><%= t(:search_for_a_user) %></p>
					<%= hidden_field_tag :search_filter, "User" %>
					<%= text_field_tag :search_contents %>

					<%= submit_tag t(:search), class: 'btn btn-primary' %>
				<% end %>

				<div class="col-xs-2 hidden-md"></div>
			</div>
			<div class="col-xs-2 hidden-md"></div>
		</div>
	</div>
</div>

<div class="panel panel-default" id="songs_index">
	<div class="panel panel-heading">
  	  <h1>Results</h1>
  	</div>
  	<div class="panel panel-body">
		<ul class="list-group">
	  		<% if @results.empty? %>
	  			<p>No results</p>
		  	<% else %>
				<% if params[:search_filter] == "Title" || params[:search_filter] == "Artist" %>
					<%= render 'chart_results' %>
				<% else %>
					<%= render 'user_results' %>
				<% end %>
		    <% end %>
		  </ul>
	</div>
</div>

<div class="pagination_container">
  <%= paginate @results unless @results.empty? %>
</div>
