<!-- TODO: Bootstrapで綺麗にしてください -->
<!-- TODO: navbarに入れること -->
<%= form_tag url_for(controller: 'home', action: 'songs'), method: 'get' do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<div class="container-fluid">
  <% if @songs != nil %>
    <div class="panel panel-default" id="songs_index">
      <div class="panel panel-heading">
        <h1><%= t(:list_of_charts) %></h1>
      </div>
      <ul class="list-group">
        <% @songs.each do |song| %>
          <% user = User.find(song[:user_id]) %>
          <li class="list-group-item"><%= link_to(song.title, user_song_path(user, song)) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="pagination_container">
    <%= paginate @songs %>
  </div>
</div>
