<% col_size = 50 %>

<%= form_for([@user, song]) do |f| %>
  <% unless song.key == nil %>
    <% key = song.key %>
  <% else %>
    <% key = "C" %>
  <% end %>

  <table class="song_form" style="margin: 0px auto;">
    <tr>
      <td>
        <%= f.text_field :title, class: 'form-control',
        placeholder: t('activerecord.attributes.song.title'), autofocus: true, size: col_size %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.text_field :artist, class: 'form-control',
        placeholder: t('activerecord.attributes.song.artist'), autofocus: true, size: col_size %>
      </td>
    </tr>
    <tr>
      <td>
         <div class="text-center">
             <%= t('activerecord.attributes.song.key') %>
             <%= f.select(:key, options_for_select(sharp_notes, selected: key),
             class: 'form-control', size: col_size) %>
         </div>
      </td>
    </tr>
  </table>

  <div class="song_form explanation">
    <%= t(:explanation) %><br/>
  </div>

  <div class="song_form song_body">
    <%= f.text_area :song_body, class: 'song_form_song_body' %>
  </div>

  <table class="song_form">
    <tr>
      <td>
        <%= t(:link_to_youtube) %>
        <%= f.text_field :video, class: 'form-control',
        placeholder: t('activerecord.attributes.song.video'), size: col_size %>
      </td>
    </tr>
  </table>

  <div class="text-center">
    <%= f.submit class: 'btn btn-primary', value: t(:save), id: 'save_button' %>
  </div>
<% end %>
