<% col_size = 50 %>

<%= form_for([@user, song]) do |f| %>
  <%# selectedの値の定義 %>
  <% unless song.key == nil %>
    <% key = song.key %>
  <% else %>
    <% key = "C" %>
  <% end %>

  <table class="song_form">
    <tr>
      <td>
        <%= f.text_field :title, class: 'form-control',
        placeholder: t('activerecord.attributes.song.title') + '（必須）', autofocus: true, size: col_size %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.text_field :title_yomikata, class: 'form-control',
        placeholder: t('activerecord.attributes.song.title_yomikata') + '（必須）', size: col_size %>
      </td>
    </tr>
    <tr>
      <td>
        <div id="key_text"><%= t('activerecord.attributes.song.key') %></div>
        <%= f.select(:key, options_for_select(sharp_notes, selected: key),
        class: 'form-control', size: col_size) %>
      </td>
    </tr>
  </table>

  <div class="explanation">
    作曲者の名前を冒頭で書いてください。<br/>
    シャープ記号を書くには「#」、フラット記号を書くには「b」を書きます。<br/>
  </div>


  <div class="song_body"><!-- id に変えた方がいいかな -->
    <%= f.text_area :song_body, class: 'not-tinymce', rows: 15, cols: 100, style: 'font-size: 22px;' %>
  </div>

  <table class="song_form">
    <tr>
      <td>
        Youtubeのリンク（必須ではありません）
        <%= f.text_field :video, class: 'form-control',
        placeholder: t('activerecord.attributes.song.video'), size: col_size %>
      </td>
    </tr>
  </table>

  <%= f.submit class: 'btn btn-primary', value: t(:save), id: 'save_button' %>
<% end %>
