<p id="notice"><%= notice %></p>

<h1>讃美歌チャート</h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.song.title') %></th>
      <th><%= t('activerecord.attributes.song.artist') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.artist %></td>
        <td><%= link_to '表示', user_song_path(@user, song) %></td>
        <td><%= link_to '編集', edit_user_song_path(@user, song) %></td>
        <td><%= link_to '削除', user_song_path(@user, song), method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @user == current_user %>
  <%= link_to '新しい讃美歌チャート', new_user_song_path([@user, @song]) %>
<% end %>
