<script>
  // これを assets/javascripts/ の中に入れたい
  // application.js に = をつけて挿入必要があるかどうか、今のところは分からない
  // アセットを precompile してから確認すること

  $(document).ready(function() {

    var change_these = [];

    $("#song_body").find("em").each(function () {
      $(this).replaceWith('<span class="chords">' + this.innerHTML + '</span>');
      change_these.push(this.innerHTML);
    });

    for(var i = 0; i < change_these.length; i++) {
      change_these[i] = change_these[i].replace(/&nbsp;/g, " ");
      change_these[i] = jQuery.trim(change_these[i]);
      change_these[i] = change_these[i].replace(/\s+/g, " ");
      change_these[i] = change_these[i].replace(/　+/g, " "); // 日本語の空白も消す
      change_these[i] = change_these[i].split(" ");
      console.log(change_these[i]);
      // あんまり綺麗じゃないけど、とりあえずこんな感じで！(^o^)/
    }

  });

</script>

<p id="notice"><%= notice %></p>

<p>
  <%= @song.title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.song.artist') %></strong>
  <%= @song.artist %>
</p>

<p>
  <%= @song.key %>
</p>

<div id="song_body">
  <%= simple_format(@song.song_body) %>
</div>

<p>
  <strong>讃美歌チャートの作成者：</strong>
  <%= @user.name %>
</p>

<% if @user == current_user %>
  <%= link_to '編集', edit_user_song_path(@song) %> |
  <%= link_to '戻る', user_songs_path %>
  <%= link_to '削除', user_song_path, method: :delete, data: { confirm: "本当に削除しますか？" } %>
<% end %>
