<p id="notice"><%= notice %></p>

<p>
  <%= @song.title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.song.artist') %></strong>
  <%= @song.artist %>
</p>

<p>
  <%= @song.key %>
</p>

<div id="song_body">
  <%= @song.song_body %>
</div>

<p>
  <strong>讃美歌チャートの作成者：</strong>
  <%= @user.name %>
</p>

<% if @user == current_user %>
  <%= link_to '編集', edit_user_song_path(@song) %> |
  <%= link_to '戻る', user_songs_path %>
  <%= link_to '削除', user_song_path, method: :delete, data: { confirm: "本当に削除しますか？" } %>
<% end %>
