<%= javascript_pack_tag 'initialize_song' %>

<div class="show_container">
    <div class="song_title text-center">
      <%= @song.title %>
      <% if current_user %>
        <span id="favorite">
          <%= render 'shared/favorite', song: @song %>
        </span>
      <% end %>
    </div>

    <div class="container text-center">
      <% form_path = current_user ? user_set_lists_path(current_user) : user_song_path(@user, @song) %>
      <%= form_tag(form_path, method: "GET") do %>
        <%= hidden_field_tag :song_id, @song.id %>
          <strong><%= t('activerecord.attributes.song.key') %></strong>
          <%= select_tag(
                :selected_key,
                options_for_select(sharp_notes, selected: @song.key),
                id: 'key_box',
                class: @song.key)
          %>
        <%= submit_tag('Add to Set List', class: 'btn btn-primary') if current_user %>
      <% end %>

      <strong>
        <%= t(:hide_chords) %>
        <%= check_box_tag "hide chords", nil, false, class: 'visibility_checkbox', style: 'display: inline-block;' %>
      </strong>

      <div class="song_body"><%= sanitize(@song.song_body) %></div>
    </div>

    <% if @video_id %>
      <div id="song_video_container">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/<%= @video_id %>"
            frameborder="0"
            allowfullscreen>
          </iframe>
        </div>
      </div>
    <% end %>

    <%# link_to t(:print), print_user_song_path, class: 'hidden-xs' %>
    <div class="text-center">
      <%= form_for(@song, url: {action: 'print'}, method: 'POST') do |f|%>
        <%= f.hidden_field :selectedKey, value: @song.key %>
        <%= f.submit t(:print), class: 'btn btn-secondary', id: 'print_button' %>
      <% end %>

      <%# link_to 'pdf', print_user_song_path(format: "pdf") %>

      <div style="margin: 10px;">
        <strong><%= t(:chart_made_by) %></strong>
        <br/>
        <%= image_tag(@user.user_image, id: 'user_image_thumbnail', class: 'user_thumbnail') %>
        <%= link_to @user.username, @user %>
      </div>

      <br/>

      <% if current_user && (@user == current_user || current_user.admin) %>
        <%= link_to t(:edit), edit_user_song_path(@user, @song), class: 'btn btn-secondary' %>
        <%= link_to t(:back), user_path(@user), class: 'btn btn-secondary' %>
        <%= link_to t(:delete), user_song_path, class: 'btn btn-danger', method: :delete, data: { confirm: t(:confirm_deletion) } %>
      <% end %>
      </div>
</div>

<%= javascript_pack_tag 'key_change' %>
