<script>
  // これを assets/javascripts/ の中に入れたい
  // application.js に = をつけて挿入必要があるかどうか、今のところは分からない

  $(document).ready(function() {

    var chord_span = [];

    $("#song_body").find("em").each(function () {
      $(this).replaceWith('<span class="chords">' + this.innerHTML + '</span>');
      chord_span.push(this.innerHTML);
    });

    for(var i = 0; i < chord_span.length; i++) {
      chord_span[i] = chord_span[i].replace(/&nbsp;/g, " "); // &nbsp; がないように
      chord_span[i] = chord_span[i].replace(/　/g, "  "); // 日本語を入力しないように説明に入れること
      chord_span[i] = chord_span[i].split(" ");
      console.log(chord_span[i]);
    }

    for(var i = 0; i < chord_span.length; i++) {
      for(var x = 0; x < chord_span[i].length; x++) {

      }
    }

    var new_innerHTML = [];
    
    for(var i = 0; i < chord_span.length; i++) {

      var new_str = "";

      for(var x = 0; x < chord_span[i].length; x++) {
        if(chord_span[i][x] == "") {
          chord_span[i][x] = " ";
          // console.log(chord_span[i][x]);
        }
        if(chord_span[i][x] != " ") {
          // jQueryでwrap(), そしてnameの定義?
          chord_span[i][x] = '<span class="chord" name="' + chord_span[i][x] + '">' + chord_span[i][x] + '</span>';
          chord_span[i].splice((x + 1), 0, " ");
        }
        new_str += chord_span[i][x];
      }

      // 最後のchord_span[i][x]は空白だったらもう１つ空白が追加されてしまう
      // chord_span[i].pop()がしたかったけどなんか上手く動かないから次のif文を入れた
      if (/\s$/.test(new_str)) {
        new_str = new_str.replace(/\s$/, "");
      }
      new_innerHTML.push(new_str);
      // console.log(new_innerHTML[i]);
    }

    var chords = document.getElementsByClassName('chords');

    for(var i = 0; i < chords.length; i++) {
      chords[i].innerHTML = new_innerHTML[i];
      // console.log(chords[i].innerHTML);   
 }
    
  });

</script>

<p id="notice"><%= notice %></p>

<p>
  <%= @song.title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.song.artist') %></strong>
  <%= @song.artist %>
</p>

<%= select_tag(:key_box, 
      options_for_select(sharp_notes, selected: @song.key),
      onchange: 'change("' +  @song.key + '", false);') %>

<p>
  <%= @song.key %>
</p>

<div id="song_body">
  <%= simple_format(@song.song_body) %>
</div>

<p>
  <strong>讃美歌チャートの作成者：</strong>
  <%= @user.name %>
</p>

<% if @user == current_user %>
  <%= link_to '編集', edit_user_song_path(@song) %> |
  <%= link_to '戻る', user_songs_path %>
  <%= link_to '削除', user_song_path, method: :delete, data: { confirm: "本当に削除しますか？" } %>
<% end %>
