<div class="panel panel-default">
  <div class="panel panel-heading">
    <%= content_tag(:h2, @song.title, id: 'song_title') %>
  </div>

  <strong><%= t('activerecord.attributes.song.artist') %></strong>
  <%= @song.artist %>
  <br/>

  <div class="container">
    <div class="row">
      <div class="col-xs-4"></div>
      <div class="col-xs-4" style="padding-top: 10px;">
        <strong><%= t('activerecord.attributes.song.key') %></strong>
        <%= select_tag(
              :key_box,
              options_for_select(sharp_notes, selected: @song.key),
              onchange: 'key_change("' +  @song.key + '", null);')
        %>
      </div>
      <div class="col-xs-1"></div>
      <div id="favorite" class="col-xs-1">
            <%= render 'shared/favorite', song: @song %>
      </div>
      <div class="col-xs-1"></div>
    </div>

    <strong>
      <%= t(:hide_chords) %>
      <%= check_box_tag "hide chords", nil, false, class: 'checkbox', onclick: 'toggle_visibility();', style: 'display: inline-block;' %>
    </strong>

    <div id="song_body"><%= sanitize(@song.song_body) %></div>
  </div>


  <% if @video_id %>
    <div id="song_video_container">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/<%= @video_id %>"
          frameborder="0"
          allowfullscreen>
        </iframe>
      </div>
    </div>
  <% end %>

  <%# link_to t(:print), print_user_song_path, class: 'hidden-xs' %>
  <%= form_for(@song, url: {action: 'print'}, method: 'POST') do |f|%>
    <%= f.hidden_field :selectedKey, value: @song.key %>
    <%= f.submit t(:print) %><!-- make same as <a> tag -->
  <% end %>

  <%# link_to 'pdf', print_user_song_path(format: "pdf") %>

  <p>
    <strong><%= t(:chart_made_by) %></strong>
    <%= link_to @user.username, @user %>
  </p>

  <% if current_user && (@user == current_user || current_user.admin) %>
    <%= link_to t(:edit), edit_user_song_path(@user, @song) %> |
    <%= link_to t(:back), user_path(@user) %>
    <%= link_to t(:delete), user_song_path, method: :delete, data: { confirm: t(:confirm_deletion) } %>
  <% end %>
