<script>
  // これを assets/javascripts/ の中に入れたい
  // application.js に = をつけて挿入必要があるかどうか、今のところは分からない
  // アセットを precompile してから確認すること

  $(document).ready(function() {

    var chord_span = [];

    $("#song_body").find("em").each(function () {
      $(this).replaceWith('<span class="chords">' + this.innerHTML + '</span>');
      chord_span.push(this.innerHTML);
    });
    for(var i = 0; i < chord_span.length; i++) {
      chord_span[i] = chord_span[i].replace(/&nbsp;/g, " "); // &nbsp; がないように
      chord_span[i] = chord_span[i].split(" ");
    }
    var new_str = "";
    for (var x = 0; x < chord_span.length; x++) {
      for (var i = 0; i < chord_span[x].length; i++) {
        if (chord_span[x][i] == "") {
          chord_span[x][i] = " ";
          console.log(chord_span[x][i]);
        } else {
          chord_span[x][i] = '<span class=""' + chord_span[x][i]; // まだ </span> で閉じる
          // ここで繰り返しの分を入れて、[i + n] != " " || [i + n] != nil で次の要素を確認して、</span>で閉じること 
        }
      }
    }
    
  });

</script>

<p id="notice"><%= notice %></p>

<p>
  <%= @song.title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.song.artist') %></strong>
  <%= @song.artist %>
</p>

<p>
  <%= @song.key %>
</p>

<div id="song_body">
  <%= simple_format(@song.song_body) %>
</div>

<p>
  <strong>讃美歌チャートの作成者：</strong>
  <%= @user.name %>
</p>

<% if @user == current_user %>
  <%= link_to '編集', edit_user_song_path(@song) %> |
  <%= link_to '戻る', user_songs_path %>
  <%= link_to '削除', user_song_path, method: :delete, data: { confirm: "本当に削除しますか？" } %>
<% end %>
