<p><%= t('devise.email.greeting', user: @resource.username) %></p>

<p><%= t('devise.email.password_change_request_message_1') %></p>

<p><%= link_to t('devise.email.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.email.please_ignore') %></p>
<p><%= t('devise.email.access_link_to_create_new_password') %></p>
