<p><%= @resource.name + t(:honorific) + "\n" + t(:mail_greeting) %></p>

<p><%= t(:change_password_by_link) %></p>

<p>
	<%= link_to t(:renew_password),
		edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale.to_s)
	%>
</p>

<p><%= t(:ignore_if_not_you) %></p>
<p><%= t(:follow_instructions_to_renew) %></p>
