<!DOCTYPE html>
<html>
  <head>
    <title>sanbika</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <%= favicon_link_tag('onpu.ico') %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- 助かった：https://stackoverflow.com/questions/6483425/prevent-iphone-from-zooming-in-on-select-in-web-app -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <%= link_to "sanbika", home_index_path, class: "navbar-brand" %>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse navHeaderCollapse">
          <ul class="nav navbar-nav navbar-left">
            <li style="margin-left: 20px;">
              <%= form_tag url_for(controller: 'home', action: 'songs'), method: 'get' do %>
                <%= text_field_tag :search, "", class: 'form-control hidden-xs', placeholder: t(:search), style: 'margin-top: 8px;', size: '35' %>
              <% end %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li>
                <%= link_to '<span class="glyphicon glyphicon-home"></span> '.html_safe + " #{current_user.name}", current_user %>
              </li>
              <li>
                <%# TODO: 設定のページの作成。プロファイルの削除をそこで行いたい %>
                <%= link_to '<span class="glyphicon glyphicon-cog"></span> '.html_safe + t(:account_settings), current_user %>
              </li>
              <li>
                <%= link_to '<span class="glyphicon glyphicon-new-window"></span> '.html_safe + t(:logout), destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to '<span class="glyphicon glyphicon-user"></span> '.html_safe + t(:login), new_user_session_path %>
              </li>
              <li>
                <%= link_to '<span class="glyphicon glyphicon-pencil"></span> '.html_safe + t(:account_reg), new_user_registration_path %>
              </li>
            <% end %>

            <% lang = I18n.locale == I18n.default_locale ? { str: "English", locale: :en } : { str: "日本語", locale: :ja } %>
            <li>
              <%= link_to '<i class="fas fa-globe"></i> '.html_safe + lang[:str], locale: lang[:locale] %>
            </li>

            <!-- TODO: collapseを開くとtext_fieldが長すぎる。sizeを固定してください -->
            <li>
              <%= text_field_tag :search, "", class: 'form-control hidden-sm hidden-md hidden-lg', placeholder: t(:search) %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="buffer"></div>

    <!-- TODO: フラッシュ通知をここに入れたいけどindex.html.erbのheaderの上になってしまうから気になる -->
    <div id="notice_container" class="container">
      <% if notice %>
        <p class="alert alert-success alert-dismissable" data-dismiss="alert" aria-label="close">
          <%= notice %><span class="pull-right" style="cursor: pointer;" aria-hidden="true">&times;</span>
        </p><!-- 前は class="notice" でした。RailsのデフォルトのCSSかな-->
      <% elsif alert %>
        <p class="alert alert-danger alert-dismissable" data-dismiss="alert" aria-label="close">
          <span class="glyphicon glyphicon-warning-sign"></span>
          <%= alert %><span class="pull-right" style="cursor: pointer;" aria-hidden="true">&times;</span>
        </p>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
