<!DOCTYPE>
<html>
  <head>
    <title>sanbika</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1 id="song_title"><%= @song.title %></h1>

    <div id="artist_wrapper" class="text-center">
      <strong><%= t('activerecord.attributes.song.artist') %></strong>
      <%= @song.artist %>
      </div>
    <br/>

    <h5 id="print_key"><%= t(:key) %>
      <%= select_tag(:key_box, 
          options_for_select(sharp_notes, selected: @song.key),
          onchange: 'key_change("' +  @song.key + '", false);')
      %>
    </h5>

    <div id="checkbox_wrapper" class="text-center">
      <strong>
      <%= t(:hide_chords) %>：
      <%= check_box_tag "hide chords", nil, false, class: 'checkbox', onclick: 'toggle_visibility();', style: 'display: inline-block;' %>
      </strong>
    </div>

    <div id="song_body"><%= sanitize(@song.song_body) %></div>
  </body>
</html>
