<!DOCTYPE>
<html>
  <head>
    <title>賛美歌</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1 id="song_title"><%= @song.title %></h1>
    <h5 id="print_key">キー
      <%= select_tag(:key_box, 
          options_for_select(sharp_notes, selected: @song.key),
          onchange: 'key_change("' +  @song.key + '", false);')
      %>
    </h5>

    <h5 class="text-center">コード：
      <%= button_tag "非表示", onclick: "toggle_visibility_with(this);", class: "center-inline-block" %>
    </h5>

    <div id="song_body"><%= sanitize(@song.song_body) %></div>
  </body>
</html>
