<!DOCTYPE>
<html>
  <head>
    <title>sanbika</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'initialize_song' %>
  </head>

  <body>
    <h1 id="song_title"><%= @song.title %></h1>

    <div class="text-center">
      <strong><%= t('activerecord.attributes.song.key') %></strong>
      <%= select_tag(
            :selected_key,
            options_for_select(sharp_notes, selected: @song.key),
            id: 'key_box',
            class: @song.key)
      %>
    </div>

    <div class="song_body print_song_body" value="<%= @song.key%>/<%= params[:song][:selectedKey] %>"><%= sanitize(@song.song_body) %></div>

    <div class="text-center">
        <%= button_tag t(:print), id: 'print_button', onclick: 'printChart()', class: 'btn btn-primary' %>
    </div>

    <script>
      function printChart() {
        $('#print_button').css('visibility','hidden')
        window.print()
        $('#print_button').css('visibility','visible')
      }
    </script>

    <%= javascript_pack_tag 'key_change' %>
  </body>
</html>
